PROJECT_NAME='movies'
POSTGRES_NAME='postgres'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'
DB_HOST="db"
DB_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
ES_HOST=elasticsearch
ES_PORT=9200
ES_USER='elastic'
ES_PASSWORD='changeme'